body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  --bg-clr: #121212;
  --fg-clr: #E4E4E4;
}

* {
  box-sizing: border-box;
}

.c-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-navabar-conatiner {
  width: 100%;
  position: sticky;
  display: flex;
  padding: 1em 2em;
  top: 0;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background: #04AA6D;
  color: var(--fg-clr);
  z-index: 100;
}

.c-stick-bottom{
  bottom: 0;
}

.c-nav-links {
  display: flex;
  gap: 1em;
  list-style: none;
}


.c-sections-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.c-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.c-login-title {
  font-size: 20px;
  text-align: center;
}

.c-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.c-login-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.c-submit-btn {
  margin-top: 15px;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.c-submit-btn:hover,
button:hover {
  background-color: #45a049;
}

.c-hide {
  display: none;
}

.c-display {
  display: block;
}



.c-blogs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.c-blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  width: 100%;
  margin-top: 15px;
}


.c-blog-title {
  box-shadow: 0px 15px 10px -15px #111;
  border-bottom: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-color: aliceblue;
  border-style: solid;
}

.c-blog-text {
  padding: 25px;
}

.c-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-blog-bottom {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px;
  border-style: solid;
  border-color: #04AA6D;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.c-blog-btn {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.c-blue{
  background-color: #ADD8E6;
}

.c-blue:hover{
  background-color: #B1ACE6;
}

.c-edit {
  background-color: #45a049;
}

.c-edit:hover {
  background-color: #04AA6D;
}

.c-delete {
  background-color: #FF0000;
}

.c-delete:hover {
  transition: background-color 0.3s;
  background-color: #FF8A8A;
}

.c-hidden{
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.c-visible {
  visibility: visible;
  opacity: 1;
}

.popup {
  top: 30%;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

.c-popup-btns{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 20px;
}