body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
/* 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit], button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #45a049;
}


details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 2em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  padding: 2em;
}

.c-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.c-post {
  margin: 10px;
  padding: 10px;
}

.c-popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px;
}


.c-title-button {
  float: right;
  right: 0;
}

.c-error-msg {
  color: red;
  size: 3px;
}

#id-login-btn {
  position: absolute;
  left: 50%;
}


#id-user-logged-in {
  display: none;
}

#id-logout-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#id-user-logged-in-text {
  padding: 30px;
  text-align: center;
  color: black;
  font-size: 30px;
}

#id-logout-btn {
  background-color: #f44336;
}

#id-upload-post-btn {
  position: absolute;
  left: 50%;
}

#id-edit-button {
  background-color: blue;
}

#id-delete-button {
  background-color: #f44336;
}

#id-confirm-login-btn {
  margin-right: 20px;
}

#id-username-post-text {
  float: right;
  right: 0;
}